<div class="container">
    <img class="container-logo" src="../../../assets/images/tastify_logo.png" alt="">
    <h1 class="container-title">Welcome to tastify</h1>
    <div class="container-description">tastify was created with the intention to let users know more about their
        music
        taste. <br> Connect with your Spotify account and we'll offer you extended analysis about your listening
        data. <br>
        <p class="container-description-features">
            - View your most listened artists and songs for a chosen amount of time <br>
            - See how niche your taste is in comparison with other users <br>
            - Get more accurate recommendations according to your listening history
        </p>
    </div>
    <button class="login-button" (click)="logInWithSpotify()">Log In with Spotify</button>
</div>