.user-page-container {
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 700;
    font-style: normal;
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    height: 1250px;
    margin: 100px auto;
    background-color: #212121;
    padding: 60px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    gap: 55px;
}

.user-header {
    display: flex;
    flex-direction: row;
}

.user-image {
    max-width: 250px;
    max-height: 250px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-right: 20px;
}

.user-header-text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    margin-left: 3rem;
}

.user-name {
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 700;
    font-style: normal;
    margin-top: 0px;
    max-height: 30px;
    font-size: 80px;
    color: #fff;
}

.user-header-info {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.user-obscurity-container,
.user-followers-container {
    background-color: #333333;
    border-radius: 8px;
    width: 220px;
    height: 85px;
    max-height: 85px;
    padding: 11px;
}

.user-obscurity-container,
.user-followers-container {
    position: relative;
}

.user-obscurity,
.user-followers {
    font-size: 30px;
    color: #1DB954;
    margin-top: 5px;
    margin-bottom: 0px;
    text-align: center;
    padding: 0px;
}

.user-obscurity-info,
.user-followers-info {
    color: #fff;
    text-align: center;
}

.spotify-link-image img {
    max-height: 100px;
}

.spotify-link-image:hover {
    cursor: pointer;
}

.common-tracks-container,
.common-artists-container {
    height: 100px;
    max-height: 100px;
}

.common-tracks-container {
    margin-top: 19rem;
}

.common-tracks-info,
.common-artists-info {
    color: #fff;
    font-size: 24px;
}

.common-tracks,
.common-artists {
    display: flex;
    flex-direction: column;
}

.common-tracks-grid,
.common-artists-grid {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.arrows {
    display: flex;
    flex-direction: row;
}

.range-info {
    font-size: 24px;
    color: gray;
    padding: 0;
    margin: 0;
    margin-left: 20px;
}

.back-arrow,
.forward-arrow {
    font-size: 30px;
    color: white;
    margin-bottom: 20px;
    margin-left: 8px;
}

.back-arrow:hover,
.forward-arrow:hover {
    cursor: pointer;
}

.invalid-arrow {
    cursor: default !important;
    color: gray;
}

.no-data-message {
    font-size: 24px;
    color: red;
    margin: 0px;
}