<header>
    <app-search-bar></app-search-bar>
    <div class="header-logo">
        <img class="header-logo-img" src="../assets/images/tastify-logo.png" alt="Tastify Logo">
        <h3>tastify</h3>
    </div>
    <div class="header-icons">
        <a (click)="redirectToHomePage()" title="Home"><i class="fas fa-home"></i></a>
        <a (click)="logOut()" title="Log Out"><i class="fas fa-sign-out-alt"></i></a>
        <a (click)="redirectToMyProfilePage()" title="My Profile">
            <img [src]="getUserProfileImage()" alt="Profile" class="profile-icon">
        </a>
    </div>
</header>