body {
    background-color: #1e1e1e;
    background-image: url('../src/assets/images/background-cover.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    border: 0;
}